body{
    background-color: rgb(0, 0, 0);
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.form{
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-self: center;
    gap: 30px;
    margin-top: 50px;
}
.form input{
    background-color: blue;
    height: 50px;
    font-size: 30px;
    color: aliceblue;
    border-radius: 8px;
    padding: 20px;
}
.form button{
    width: 100px;
    height: 30px;
    background-color: brown;
    border: 2px solid green;
    border-radius: 8px;
    place-self: center;
}
.card-div{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.card {
  background-color: rgb(148, 16, 16);
  border-radius: 12px;
  box-shadow: 200px 400px 800px rgba(255, 0, 0 ,1);
  padding: 24px;
  width: 100px;
  text-align: center;
  font-family: sans-serif;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}
.card a {
    position: relative;
    top: -20px;
    text-decoration: none;
    color: aqua;
}
.card button{
    background-color: black;
    color: red;
    border: none;
    border-radius: 3px;
    padding: 10px;
}
.card button:hover{
    background-color: rgb(235, 230, 230);
}